<!DOCTYPE html>
<html>
<head>
    <title>Tableau Dashboard</title>
</head>
<body>
    <h1>Embedded Tableau Dashboard</h1>
    <div class="tableauPlaceholder" style="width: 1000px; height: 800px;">
        <object class="tableauViz" width="1000" height="800"
            data="hhttps://public.tableau.com/app/profile/perry.gabriel/viz/tourism_flight_hypothesis/GlobalTourismDashboard">
            <param name="embed_code_version" value="3" />
            <param name="site_root" value="" />
            <param name="name" value="Global Tourism Dashboard" />
            <param name="tabs" value="no" />
            <param name="toolbar" value="yes" />
        </object>
    </div>

    <script type="text/javascript" src="https://public.tableau.com/javascripts/api/tableau-2.min.js"></script>
</body>
</html>
